<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter new CampGround</title>
</head>
<body>
    <form action="/campgrounds" method="POST">
        <label for="title">Enter Title of CampGround</label>
        <input type="text" name="campground[title]" id="title" >
        <br>
        <label for="location">Enter location of CampGround</label>
        <input type="text" name="campground[location]" id="location">
        <br>
        <button>SUBMIT</button>
    </form>
    <a href="/campgrounds">All Campgrounds</a>
    
</body>
</html>